.page {
  main {
    display: flex;
    gap: var(--density-larger);

    padding: var(--density-large);

    img {
      max-width: 100%;
      height: auto;

      object-fit: contain;
    }

    .info {
      flex: 1;

      display: grid;
      align-content: start;
      gap: var(--density-large);

      h2 {
        line-height: 1;
      }

      .field {
        display: grid;
      }
    }

    [data-fixed="false"] & {
      img {
        max-width: 3rem;
      }

      .info {
        * {
          font-size: var(--fz-300);
          font-weight: 400;
        }
      }
    }

    [data-fixed="true"] & {
      img {
        background-color: var(--color-gray-97);

        max-width: 10rem;
      }

      .info {
        .field {
          .label {
            color: var(--color-gray-40);

            line-height: 1;
          }

          .content {
            color: var(--color-gray-30);

            font-size: var(--fz-400);
            font-weight: 700;
          }
        }
      }
    }
  }
}
