.figure {
  display: grid;
  place-items: center;

  h3 {
    width: 100%;
  }

  .model {
    --size: 20rem;

    position: relative;

    display: grid;
    place-items: center;

    &,
    > * {
      box-sizing: content-box;

      width: var(--size);
      height: var(--size);

      padding: var(--density-normal);
    }

    > * {
      position: absolute;
    }

    .margin {
      background-color: var(--color-margin);

      &::after {
        content: "margin";
      }
    }

    .border {
      --size: 15rem;

      background-color: var(--color-border);

      &::after {
        content: "border";
      }
    }

    .padding {
      --size: 10rem;

      background-color: var(--color-padding);

      &::after {
        content: "padding";
      }
    }

    .content {
      --size: 5rem;

      background-color: var(--color-content);

      &::after {
        content: "content";
      }
    }
  }
}
